@charset "utf-8";
html{
    font-size: 100px;
}
html,body,.page1,.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
li{
    width: 80%;
    font-size: .3rem;
}
h2{
    font-size: .5rem;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;

}

.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 10;
    width: .6rem;
    height: .6rem;
    background: url("../audio/MP3.mp3") no-repeat;
    background-size: 100% 100%;
}

.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audio/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.swiper-slide {
    position: relative;
}


.swiper-slide {
    position: relative;
}

.page1{
    background: rgba(107, 204, 58, 0.2);
    opacity: 1;
}
.page2,.page3,.page4,.page5 {
    background: rgba(203, 204, 29, 0.2);
    opacity: 1;
}

.page1>img{
    position: absolute;
    top:1rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 2.5rem;
    width: 2.5rem;
    border-radius:50% ;
}
.page1>h2{

    bottom: 5rem;
    margin: .5rem;
}
.page1{
    font-size: .3rem;
}
.page1 >p{
    position: absolute;
    bottom: 2.5rem;
    margin-left: .5rem;

}
.page1>p>span{
    font-size: .2rem;
}
.page2,.page3,.page4{
    font-size: .2rem;
    position: relative;
}
.page2>img:nth-child(1),.page3>img:nth-child(1),.page4>img:nth-child(1){
    height:200%;
    width: 200%;
}
/*.page2>img:nth-child(2)，.page3>img:nth-child(2){*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.page2>img:nth-child(1){*/
/*}*/
/*.page2>img:nth-child(2),.page2>img:nth-child(3),.page2>img:nth-child(4){*/
    /*position: absolute;*/
    /*right: -1rem;*/
    /*width: 500%;*/
    /*bottom: 0;*/
/*}*/
.page2>h2,.page3>h2,.page4>h2{
    bottom:5rem;
    color: rgba(134, 122, 240, 0.8);

}
li{
    margin-bottom: 0.07rem;

}
ul{
    position: absolute;
    bottom:2rem;;
    left: 1rem;
    width: 100%;
}
li>span{
    font-size: .4rem;
}
#page2 span{
    -webkit-animation: rotateInDownRight 2s 2s both;
    animation: rotateInDownRight 2s 2s both;
}
#page2 li{
    -webkit-animation: bounceInLeft 1s .9s both;
    animation: bounceInLeft 1s .9s both;
}

#page2 h2,#page3 h2,#page4 h2{
    -webkit-animation: bounce 1s 0.9s both;
    animation: bounce 1s 0.9s both;
}
#page1 h2{
    -webkit-animation: fontCloe1 1s 0.9s both;
    animation: fontCloe1 1s 0.9s both;
}
#page1 p{
    -webkit-animation: pageLi1 1s 0.9s both;
    animation: pageLi1 1s 0.9s both;
}
#page2 img,#page3 img,#page4 img{
    -webkit-animation: bounceInRight .5s 1s both;
    animation: bounceInRight 0.5s 1s both;
}
#page1 img{
    -webkit-animation: op1 2s 0s both;
    animation: op1 2s 0s both;
}
@-webkit-keyframes op {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes op {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#page3 li:nth-child(1){
    -webkit-animation: rotateInDownRight 1s .9s both;
    animation: rotateInDownRight 1s .9s both;
}
#page3 li:nth-child(2){
    -webkit-animation: bounce 1s .9s both;
    animation: bounce 1s .0.9s both;
}
#page3 li:nth-child(3){
    -webkit-animation: bounce 1s .9s both;
    animation: bounce 1s .9s both;
}
#page3 li:nth-child(4){
    -webkit-animation: rotateInDownLeft 2s .9s both;
    animation: rotateInDownLeft 2s 2s both;
}
@-webkit-keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    50%{
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -15deg);
        transform: rotate3d(0, 0, 1, -15deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    50%{
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -15deg);
        transform: rotate3d(0, 0, 1, -15deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}


@-webkit-keyframes fontCloe1 {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        font-size: 1rem;
    }

    50% {
        opacity: 1;
        color: #007aff;
    }
}
@keyframes fontCloe1 {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        font-size: 1rem;
    }

    50% {
        opacity: 1;
        color: #007aff;
    }
}

@-webkit-keyframes pageLi1 {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        font-size: .1rem;
    }

    50% {
        opacity: 1;
        color: red;
    }
}
@keyframes pageLi1 {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        font-size: .1rem;
    }

    50% {
        opacity: 1;
        color: red;
    }
}
#page4 li{
    -webkit-animation: op 2s 1s both;
    animation: op 2s 1s both;
}
@-webkit-keyframes op {
    from{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    35%{
        opacity: 0.1;
    }
    45%{
        opacity: 0.9;
    }
    55%{
        opacity: 0;
    }
    75%{
        opacity: 40;
    }
    to{
        opacity: 1;
    }
}
@keyframes op {
    from{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    35%{
        opacity: 0.1;
    }
    45%{
        opacity: 0.9;
    }
    55%{
        opacity: 0;
    }
    75%{
        opacity: 40;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes rotateInDownRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    0%{
        opacity: 0;
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
        opacity: 1;
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

    }
    0%{
        opacity: 0;
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
        opacity: 1;
    }
}

@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
       right: 0;
    }

    to {
        left: 0;
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        right: 0;
    }

    to {
        left: 0;
    }
}



